//----------------------------------------------
// Base FontSize
//----------------------------------------------
$base-font-size: 16;

//----------------------------------------------
// MediaQuery
//----------------------------------------------
$media-query: (
  sp: 'screen and (width < 768px)',
  pc: 'print, screen and (width >= 768px)',
);

//----------------------------------------------
// image path
//----------------------------------------------
$img-dir: '../assets/img/';