@use '../global/' as *;

.pc-only {
  display: block;
  @include mq(sp) {
    display: none;
  }
}

.sp-only {
  display: none;
  @include mq(sp) {
    display: block;
  }
}

.u-text-marker {
  position: relative;
  font-weight: bold;
  background: linear-gradient(transparent 60%, var(--color-sakura-pink) 60%);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}